@using CadastroFornecedores.Extensions
@model CadastroFornecedores.ViewModels.FornecedorViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<h1 style="padding-top: 50px">@ViewData["Title"]</h1>
<hr />
<h4>Informação somente leitura</h4>
<hr />
<div class="row">
    <div>
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2"> 
                @Html.DisplayNameFor(model => model.Documento)
            </dt>
            <dd class="col-sm-12">
                @this.FormataDocumento(Model.TipoFornecedor, Model.Documento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>
    </div>

    <div>
        <a class="btn btn-dark" supress-by-claim-name="Fornecedor"  supress-by-claim-value="Editar" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </div>
</div>
<div class="row">
    <partial name="_DetailsEndereco">
</div>
    
    
